.AboutSec {
    height: 92vh;
    background-color: rgb(230, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 40rem;
    height: fit-content;
}

.About-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.499);
}

.About-header{
}

.About-text{
}

.Hobbies-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.499);
}

.Hobbies-header{
}

.Hobbies-text{

}

.Education-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.499);
}

.Education-header{
}

.Education-text{
}

.par-2{
}
