.nav {
    background-color: rgba(217, 217, 217, 1);
    height: 8vh;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

.nav-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}