@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jomhuria&display=swap');

.app {
  width: 100%;
  background-image: linear-gradient(180deg, red, yellow);
}

.sticky {
  position: sticky;
  top: 1px;
}

* {
  border:solid #d4ff00;
  font-family: 'Jomhuria', serif;
}