@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jomhuria&display=swap');

.app {
  width: 100%;
  background-image: linear-gradient(110deg, rgb(255, 111, 0),  rgb(206, 0, 117), rgb(166, 15, 141), rgb(130, 0, 137));
}

.sticky {
  position: sticky;
  top: 0px;
}

* {
  font-family: 'Jomhuria', serif;
  letter-spacing: 0.05em;
  border: solid red 1px;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-weight: 100;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
}

h3 {
  font-size: 2rem;
  font-weight: 100;
}

h4 {
  font-size: 1.7rem;
  font-weight: 100;
  padding: 0;
  margin: 0%;
}

h5 {
  font-size: 1.4rem;
  font-weight: 100;
}